body {
    background: #535c68;
    transition:background-color 1s ease;
}
/*****Profil****/

#profil {
    background: #f8f9fa !important;
    border-radius: 6px;
    text-align: center;
}
#divAlerte {
    text-align: center;
    display: inline-block;
    width: 75%;
}
#imgProfil {
    border-radius: 50%;
    width : 150px;
    height : 150px;
}
#imgUrl {
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border :none;
    color : #535c68;
}
#description {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width : 90%;
    color : #535c68;
}