body {
transition:background-color 1s ease;
}
.bgColor {
    background: #535c68;
}
/***Membres***/
#h2GererMembres:hover{
    color : #f8f9fa !important;
}
#membres {
    background: #f8f9fa !important;
    border-radius: 6px;
}
#removeButton:hover {
    cursor: pointer;
}
/****Nouveau membre****/
#h2InscrireMembre:hover{
    color : #f8f9fa !important;
}
#alertBoxInscription{
    width : 75%;
    margin: 0 auto;
}
#nouveauMembre{
    background: #f8f9fa !important;
    border-radius: 6px;
}
.form-group {
    width : 75%;
    margin: 0 auto;
}
#submitDiv{
    text-align: center;
}
/*****Profil****/

#profil {
    background: #f8f9fa !important;
    border-radius: 6px;
    text-align: center;
}
#divAlerte {
    text-align: center;
    display: inline-block;
    width: 75%;
}
#imgProfil {
    border-radius: 50%;
    width : 150px;
    height : 150px;
}
#imgUrl {
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border :none;
    color : #535c68;
}
#description {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width : 90%;
    color : #535c68;
}